---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Uzair Feeroze"
	  position="Freelance Digital Marketing Expert | Graphic Designer | Video Editor | Project Manager"
	  aboutMe={`Hi there! I'm Uzair, a VA marketer specializing in content creation, and social media strategy. With 5 years of experience, I specialize in strategy development, social media management, graphic design, video editing. copywriting, SEO blog/article writing, email newsletter marketing, and eCommerce.
	  linkedin="https://linkedin.com/in/uzairfeeroze/"
	  github="https://drive.google.com/drive/folders/1LNbv4tU7DcPrKNz-giSxiRKK6jWbp_uE"
	  cvLink="/files/resume-cv.pdf"
	  profileImage="https://media.licdn.com/dms/image/v2/D4E03AQFTJfQp1IxlhQ/profile-displayphoto-shrink_800_800/B4EZQn1C4QHAAg-/0/1735835005068?e=1743638400&v=beta&t=k7q9ajKHOztbvFQSD3yWe3kG3F3Gy-EI1-Rdb2YjzxU"
	/>
</BaseLayout>

<!--
	
 -->
